{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <script src="{% static 'js/experience.js' %}"></script>


    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>

    <!-- NAVBAR -->
    {% include "includes/navbar.html" %}

    <!-- MAIN PAGE CONTENT -->
    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <!-- FOOTER -->
    {% include "includes/footer.html" %}

    <!-- JavaScript -->
    <script src="{% static 'js/experience.js' %}"></script>
    <script src="{% static 'js/skills-carousel.js' %}"></script>

</body>

</html>